COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
m4/*.m4
*.o
*.lo
*.so
*.so.*
*.a
*.la
.deps
.libs
*~
autom4te.cache/
manpage.*
*.1
*.1.html
apps/discovery
apps/obexftp
apps/obexftpd
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
obexftp.pc
obexftp.spec
stamp-h1
swig/perl/Makefile.PL
swig/python/setup.py
